.Form
{
    display:flex;
    flex-direction:column;
    align-items: center;
}

.Form-component
{
    display:flex;
    flex-direction:column;
    justify-content: center;
}

.Login-title
{
    text-align:center;
}